PROGRAMS DATASTRUCTURE:
Q1:create a string with your name

In [ ]:
name = "Sarves"
print("Hello, my name is", name)

In [ ]:
Q2:length of string
a = "Hello, World!"
print(len(a))

In [ ]:
Q3:slice the first 3 characters
s = "Python programming"
s2 = s[0:3]
print(s2)

In [ ]:
Q4:covert hello to uppercase
s = "hello"
res = s.upper()
print(res)

In [ ]:
Q5:replace the string apple with orange
s = "I like apple"
s1 = s.replace("apple", "orange")
print(s1)

In [ ]:
Q6:create a list with numbers from 1 to 5
r1 = 1
r2 = 6
li = list(range(r1,r2))
print(li)

In [ ]:
Q7:append the number 10 to the list
li=[1,2,3,4]
li.append(10)
print(li)

In [ ]:
Q8:remove the number 3 from the list
li=[1,2,3,4,5]
li.remove(3)
print(li)

In [ ]:
Q9:Access the 2nd element in the list
li=["a","b","c","d"]
print(li[1])

In [ ]:
Q10:reverse the list
li=[10,20,30,40,50]
li.reverse()
print(li)

In [ ]:
Q11:create a tuple with elements
t=(100,200,300)
print(t)

In [ ]:
Q12:Access the second to last element in the tuple
t=('red','green','blue','yellow')
print(t[-2])

In [ ]:
Q13:Minimum number in the tuple
t=(10,20,5,15)
print(min(t))

In [ ]:
Q14:index of the element "cat" in the tuple
t=('dog','cat','rabbit')
print(t.index('cat'))

In [ ]:
Q15:create a tuple with 3 fruits and check 'kiwi' in it
t=('apple','banana','mango')
print('kiwi' in t)

In [ ]:
Q16:create a set with elements a,b,c
s={'a','b','c'}
print(s)

In [ ]:
Q17:clear all elements from the set
s={1,2,3.4.5}
s.clear()
print(s)

In [ ]:
Q18:remove the element 4 from set
s={1,2,3.4}
s.remove(4)
print(s)

In [ ]:
Q19:find union of two sets
s1={1,2,3}
s2={3,4,5}
print(s1.union(s2))

In [ ]:
Q20:intersection of two sets
s1={1,2,3}
s2={2,3,4}
print(s1.intersection(s2))

In [ ]:
Q21:dictionary with keys "name","age" and "city"
d={"name":"Sarvesh","age":23,"city":"Bangalore"}
print(d)

In [ ]:
Q22:new key value pair to the dictionary {'name':'john','age':25}
d={'name':'john','age':25}
d['country']='USA'
print(d)

In [ ]:
Q23:acess the value associated with key "name" in {"name":"alice","age":30}
d={"name":"alice","age":30}
print(d["name"])

In [ ]:
Q24:remove age from the ditionary
d={"name":"Bob","age":22,"city":"newyork"}
del d["age"]
print(d)

In [ ]:
Q25:city exists in dictionary
d={"name":"alice","City":"paris"}
print("City" in d)

In [ ]:
Q26:create a list,tuple and a dictionary
l=[1,2,3]
t=(4,5,6)
d={"a":1,"b":2}
print(l,t,d)

In [ ]:
Q27: 5 random number from 1 to 100 sort in ascending order
import random
l=[]
for i in range(5):
    l.append(random.randint(1,100))
    l.sort()
print(l)

In [ ]:
Q28:create a list of strings and print element of 3rd index
l=["apple","cat","ball"]
print(l[3])

In [ ]:
Q29:combine two dictionaries into one
d1={"a":1,"b":2}
d2={"c":3,"d":4}
d1.update(d2)
print(d1)

In [ ]:
Q30:convert a list of strings into a set
l=["summer","rain","winter"]
s=set(l)
print(s)

Q1:Data structures and their Importance.
A data structure is a specialized format for organizing, processing, retrieving and storing data. There are several basic and advanced types of datastructures, all designed to arrange data to suit a specific purpose. Data structures make it easy for users to access and work with the data they need.

Q2:MUTABLE AND IMMUTABLE DATATYPES.
Mutable data types:
You can add, remove, or modify the contents of a mutable data type.
For example, lists and dictionaries are mutable data types.
Immutable data types:
You cannot change the contents of an immutable data type, but you can assign new values.
For example, strings, tuples, and numbers are immutable data type.

Q3:Main difference between lists and tuples
The main difference between tuples and lists is that tuples are immutable, meaning their contents cannot be changed after creation, while lists are mutable and can be modified. Additionally, tuples are more memory-efficient compared to lists. Tuples can't be changed after they're created, but lists can be modified.

Q4:How Dictionaries store data
Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is in ordere,changeable and doesnt allow duplicate.

Q5:Why do we use sets instead of lists
Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

Q6:string in python and different from lists
A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

Q7:Tuples ensure data integrity in python
Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

Q8:Hash table and how it is related to dictionary
Hash table is essentially the underlying data structure used to implement a "dictionary," meaning that when you use a dictionary in Python, it is actually a hash table working behind the scenes to store and access key-value pairs efficiently.

Q9:Can lists contain different datatypes in python
 YES,lists can contain heterogeneous data types and objects. For instance, integers, strings, and even functions can be stored within the same list.

Q10:why strings are immutable in python
Strings in Python are “immutable” which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean.The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.

Q11:advantage of dictionary over a list
A list can store any data type. In contrast, keys in the dictionary can be of any immutable data type, and values can be of any data type. Lists perform faster for ordered operations like sorting, while dictionaries perform faster for lookup operations.

Q12:scenario of using tuple over a list.
Use a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is crucial.

Q13.How do sets handle duplicates in python
Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred by key or index.

Q 14:In keyword for dictionary
the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

Q15:can we modify tuple ,explain
No we cant modify the elements in tuples as the tuple is immutable datatype in python.

Q16:Nested dictionary and its uses
Nesting Dictionary means putting a dictionary inside another dictionary. Nesting is of great use as the kind of information we can model in programs is expanded greatly.

Q17.time complexity of accessing elements in dictionary
Values in a dictionary can be accessed using the keys. To access a value in a dictionary, we use square brackets [] and provide the key.

Q18:lists preferred over dictionary
For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

Q19:why dictionary considered as unordered
  A dictionary is called an unordered collection of objects because it doesn't maintain an order of the items based on when they were added. Dictionaries are designed to be fast for key-based access, not for ordered access like lists or tuples.

Q20:difference between lists and dictionary over a data retrival
A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.